.starrating {
    //displays content as flex box 
        display: flex;
    
    // aligns flex children centered horizontally 
        justify-content: left;
    
    //adds gap 
        gap: .25rem;

        margin-bottom: 2rem;
    }