@use '../sass/abstracts/mixins';

.buttongroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    // on tablet displays stacked rather than columns
    @include mixins.breakpoint(tablet) {
        flex-direction: row;
        justify-content: center;
    }
}